<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
       <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="assets/fonts/fonts.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Oxygen font family">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type='text/javascript' src='javascripts/typebutter.jquery.min.js'></script>
        <script type="text/javascript" src="assets/javascripts/prettify.js"></script>
        <script type="text/javascript" src="assets/javascripts/kickstart.js"></script>
        <script src="assets/javascripts/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="assets/javascripts/fontdrag.js" type="text/javascript" charset="utf-8"></script>
        
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
            <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
                <link rel="stylesheet" type="text/css" href="assets/stylesheets/kickstart.css" media="all">
            <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css" media="all">
                <link type="text/css" href="assets/stylesheets/layout.css" rel="stylesheet">
                    
                    <script>
                        <title>webfont testing</title>


<![CDATA[
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
]]></script>
            <script>            $(function () {
                          var tabContainers = $('div.tabs > div');
                          
                          $('div.tabs ul.tabNavigation a').click(function () {
                                                                 tabContainers.hide().filter(this.hash).show();
                                                                 
                                                                 $('div.tabs ul.tabNavigation a').removeClass('selected');
                                                                 $(this).addClass('selected');
                                                                 
                                                                 return false;
                                                                 }).filter(':first').click();
                          });
                        </script></head>
  <body>
