<!-- Header -->
<section id="top">
    <header>
        <h1>Drag fonts here!</h1>
    </header>
    <ul id="fonts">
    </ul>
</section>
<!-- Specimen -->
<section id="custom">
    <div class="tabs">
        <!-- tabs -->
        <ul class="tabNavigation">
            <li><a href="#headlines">Headlines</a></li>
            <li><a href="#EMheadlines">EM Headlines</a></li>
            <li><a href="#text">Text</a></li>
            <li><a href="#adhesion">Adhesion</a></li>
            <li><a href="#hamburgefonstiv">Hamburgefonstiv</a></li>
            <li><a href="#lowercases">Lowercase</a></li>
            <li><a href="#caps">Caps</a></li>
            <li><a href="#allcaps">All Caps</a></li>
            <li><a href="#layout">Layout</a></li>
            <li><a href="#kern">Kern</a></li>
            <li><a href="#latin">Latin</a></li>
            <li><a href="#nonlatin">Non-Latin</a></li>
            <li><a href="#web">Web</a></li>
            <li><a href="#colours">Colours</a></li>
            <li><a href="#more">More</a></li>
            <li><a href="#sorkin">Sorkin</a></li>
        </ul>
